<md-toolbar>Trip Sorter</md-toolbar>
<div class="app-content">
    <div *ngIf="deals.length > 0">
        <div class="row">
            <div class="col-xs-3">
                <div class="places-input-wrapper">
                    <h1>Help me go,</h1>
                    <p>
                        <md-input-container>
                            <input mdInput placeholder="From City" [mdAutocomplete]="fromCity" [formControl]="fromCityCtrl">
                        </md-input-container>
                        <md-autocomplete #fromCity="mdAutocomplete">
                            <md-option *ngFor="let city of filteredFromCities | async" [value]="city">
                                {{ city }}
                            </md-option>
                        </md-autocomplete>
                    </p>
                    <p>
                        <md-input-container>
                            <input mdInput placeholder="To City" [mdAutocomplete]="toCity" [formControl]="toCityCtrl">
                        </md-input-container>

                        <md-autocomplete #toCity="mdAutocomplete">
                            <md-option *ngFor="let city of filteredToCities | async" [value]="city">
                                {{ city }}
                            </md-option>
                        </md-autocomplete>
                    </p>
                </div>

                <div class="variations-wrapper">
                    <p>
                        Showing
                    </p>
                    <md-button-toggle-group #orderBy="mdButtonToggleGroup">
                        <md-button-toggle value="CHEAPEST" checked="true">
                            Cheapest
                        </md-button-toggle>
                        <md-button-toggle value="FASTEST">
                            Fastest
                        </md-button-toggle>
                    </md-button-toggle-group>
                    <p>
                        route, while travelling by,
                    </p>
                    <md-checkbox class="example-margin" value="car" [(ngModel)]="useCar">Car</md-checkbox>
                    <md-checkbox class="example-margin" value="bus" [(ngModel)]="useBus">Bus</md-checkbox>
                    <md-checkbox class="example-margin" value="train" [(ngModel)]="useTrain">Train</md-checkbox>
                </div>

                <div class="actions-wrapper">
                    <button md-raised-button color="primary" (click)="searchTrips()"><md-icon>search</md-icon>Search</button>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="empty-state-error" *ngIf="(matchingTrips | async)?.length == 0 && isFormValid">
                    <h2>No Matching Trips Found! :( </h2>
                </div>
                <app-trip-list [trips]="matchingTrips | async"></app-trip-list>
            </div>
        </div>
    </div>
</div>